@media screen and (max-width: 968px) {
  .right-content h5 {
    font-size: 44px;
  }

  .right-content p {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .discount-programs button {
    width: 213px;
    height: 53px;
    font-size: 28px;
  }
}

@media screen and (max-width: 640px) {
  /* .header .main-tittle {
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 30px;
    font-size: 20px;
    gap: 20px;
  }

  .footer .main-tittle {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 20px;
  } */

  .main-tittle {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 20px;
  }

  .right-content h5 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  .right-content p {
    font-size: 18px;
  }

  .about-us {
    height: 300px;
    margin: 10px 0px;
  }

  .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .about-us {
    flex-direction: column;
    height: auto;
  }

  .about-us .left-content {
    width: 100%;
    height: 450px;
  }

  .about-us .right-content {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .right-content h5 {
    margin-bottom: 10px;
  }

  .discount-programs {
    flex-direction: column-reverse;
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }

  .discount-programs .left-content {
    width: 100%;
    height: 355px;
  }

  .discount-programs .right-content {
    width: 100%;
  }

  .discount-programs button {
    width: 200px;
    height: 50px;
    font-size: 24px;
  }


}
